{% extends "base.html" %}

{% block title %}Gespeicherte Zeitraffer{% endblock %}

{% block page_heading %}<i class="fas fa-list"></i> Gespeicherte Zeitraffer{% endblock %}

{% block content %}
    {% if timelapses %}
        <ul>
            {% for timelapse in timelapses %}
                <li><a href="{{ url_for('download_timelapse', filename=timelapse) }}"><i class="fas fa-download"></i> {{ timelapse }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-message">Noch keine Zeitraffer erstellt.</p>
    {% endif %}
    <div style="text-align: center;">
        <a href="/" class="button"><i class="fas fa-arrow-left"></i> Zurück zum Monitor</a>
    </div>
{% endblock %}

{% block scripts %}
    {# Keine spezifischen Skripte für diese Seite #}
{% endblock %}