{% extends "base.html" %}

{% block title %}Zeitraffer Status{% endblock %}

{% block page_heading %}<i class="fas fa-film"></i> Zeitraffer Status{% endblock %}

{% block content %}
    <p class="message {% if 'Fehler' in message %}error-message{% else %}success-message{% endif %}">{{ message }}</p>
    {% if video_url %}
        <p class="download-link">Dein Zeitraffer-Video: <a href="{{ url_for('download_timelapse', filename=video_url) }}"><i class="fas fa-download"></i> {{ video_url }}</a></p>
    {% endif %}
    <div style="text-align: center;">
        <a href="/" class="button"><i class="fas fa-arrow-left"></i> Zurück zum Monitor</a>
    </div>
{% endblock %}

{% block scripts %}
    {# Keine spezifischen Skripte für diese Seite #}
{% endblock %}